<div *ngIf="loading">
    <app-loading></app-loading>
</div>

<div *ngIf="!loading" class="animate__animated animate__fadeIn">

    <div class="agtable bg-light animate__animated animate__fadeIn">
        <ag-table #table paginate="20" [items]="characters" clickable height="500px" min-width="500px">
            <ag-table-header>
                <!-- <ag-table-col filter field="_id" placeholder="Identifier" width="250px">
                    ID
                </ag-table-col> -->
                <ag-table-col filter field="name" placeholder="Name">
                    Name
                </ag-table-col>
                <ag-table-col filter field="role" placeholder="Role">
                    Role
                </ag-table-col>
                <ag-table-col filter="select" field="house" [options]="house" placeholder="House" width="150px">
                    House
                </ag-table-col>
                <ag-table-col filter="select" field="bloodStatus" [options]="bloodStatus" placeholder="Blood tatus" width="150px">
                    Blood status
                </ag-table-col>
            </ag-table-header>
            <ag-table-body>
                <!-- Bucle que recorre el arreglo de los personajes y que recibido en la varianle items,
                  es clickeable y envia el id que redirecciona a la seccion personaje -->
                <ag-table-row *ngFor="let item of table.items" (click)="showCharacter(item._id)">
                    <!-- <ag-table-cell>{{ item._id }}</ag-table-cell> -->
                    <ag-table-cell>{{ item.name ? item.name : "-" }}</ag-table-cell>
                    <ag-table-cell>{{ item.role ? item.role : "-" }}</ag-table-cell>
                    <ag-table-cell>{{ item.house ? item.house : "-" }}</ag-table-cell>
                    <ag-table-cell>{{ item.bloodStatus ? item.bloodStatus : "-" }}</ag-table-cell>
                </ag-table-row>
            </ag-table-body>
        </ag-table>
    </div>

</div>
