<div *ngIf="loading">
    <app-loading></app-loading>
</div>

<div *ngIf="!loading" class="animate__animated animate__backInDown animate__fast">
    <div class="card-columns">

        <div *ngFor="let house of houses; let i = index" class="card">
            <div class="card-header">
                <h4 class="card-title">{{ house.name | uppercase }}</h4>
            </div>
            <div class="card-body">
                <p class="card-text"><b>Mascot</b>: {{ house.mascot | titlecase }}</p>
                <p class="card-text"><b>Head of house</b>: {{ house.headOfHouse }}</p>
                <p class="card-text">
                    <small class="text-muted">
                      <i class="fas fa-users"></i> Members: <b>{{ house.members | countMembers }}</b>
                    </small>
                </p>
            </div>
            <div class="card-footer">
                <button type="button" (click)="showHouse(house._id)" class="btn btn-warning btn-block">Show more...</button>
            </div>
        </div>

    </div>
</div>
