/* You can add global styles to this file, and also import other style files */

@import '~ag-table/scss/style.scss';
@include ag-table-core();
.bg-harrypotter {
    width: 100%;
    height: 100%;
    background-image: url('assets/img/bg-hp.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.agtable {
    border: 1px solid #ccc;
    border-radius: 5px
}

.ag-table-paginate .caption {
    margin-left: 20px;
}

.ag-table-paginate>ul {
    margin-right: 20px;
}

.ag-table-paginate>ul>li.actived button {
    background-color: #ffc107;
    color: #000;
    cursor: default;
}
