<div>

    <div *ngIf="house">
        <div class="card text-white bg-warning mb-3">
            <div class="card-body">
                <h5 class="card-title">Name: {{ house.name }}</h5>
                <p class="card-text">Mascot: {{ house.mascot }}</p>
                <p class="card-text">Head of house: {{ house.headOfHouse }}</p>
                <p class="card-text">House ghost: {{ house.houseGhost }}</p>
                <p class="card-text">Founder: {{ house.founder }}</p>
            </div>
        </div>
    </div>

    <div class="card-columns">

        <div *ngFor="let member of members; let i = index" class="card">
            <div class="card-body">
                <h4 class="card-title">{{ member.name }}</h4>
                <!-- <p class="card-text">{{ house.mascot | titlecase }}</p>
              <p class="card-text">Head of house: {{ house.headOfHouse }}</p>
              <p class="card-text"><small class="text-muted">Members: {{ house.members | countMembers }}</small></p> -->
            </div>
            <div class="card-footer">
                <button type="button" (click)="showCharacter(member._id)" class="btn btn-outline-warning btn-block">Show more...</button>
            </div>
        </div>

    </div>

</div>