<div *ngIf="loading">
    <app-loading></app-loading>
</div>

<div *ngIf="!loading">

    <div *ngIf="house" class="animate__animated animate__zoomIn animate__slow">
        <div class="card text-white bg-dark mb-3">
            <div class="card-body">
                <h5 class="card-title"><b>Name</b>: {{ house.name }}</h5>
                <p class="card-text"><b>Mascot</b>: {{ house.mascot }}</p>
                <p class="card-text">H<b>ead of house</b>: {{ house.headOfHouse }}</p>
                <p class="card-text"><b>House ghost</b>: {{ house.houseGhost }}</p>
                <p class="card-text"><b>Founder</b>: {{ house.founder }}</p>
            </div>
            <div class="card-footer">
                <a [routerLink]="['/houses']" class="btn btn-outline-warning btn-block">Regresar</a>
            </div>
        </div>
    </div>

    <div class="card-columns">

        <!-- Bucle que recorre el arreglo de miembros por la variable miembro -->
        <div *ngFor="let member of members; let i = index" class="card animate__animated animate__rotateIn animate__slow">
            <div class="card-body">
                <h4 class="card-title">{{ member.name }}</h4>
            </div>
            <div class="card-footer">
                <button type="button" (click)="showCharacter(house._id ,member._id)" class="btn btn-warning btn-block">Show more...</button>
            </div>
        </div>

    </div>

</div>
